In [1]:
import boto3

In [5]:
s3 = boto3.resource('s3') # Set up Amazon S3 resource
s3client = boto3.client('s3') #S3 Client

In [10]:
#S3 Session
session=boto3.Session(
aws_access_key_id = 'AKIAZZ33YB65GZIN656A',
aws_secret_access_key='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')

In [11]:
s3 = session.resource('s3') # Set up Amazon S3 resource
s3client = session.client('s3') #S3 Client

In [14]:
#Download CSV files
s3client.download_file('mindex-data-analytics-code-challenge', 'bengals.csv', 'bengals.csv')
s3client.download_file('mindex-data-analytics-code-challenge', 'boyd_receiving.csv', 'boyd_receiving.csv')
s3client.download_file('mindex-data-analytics-code-challenge', 'chase_receiving.csv', 'chase_receiving.csv')
s3client.download_file('mindex-data-analytics-code-challenge', 'higgins_receiving.csv', 'higgins_receiving.csv')

In [15]:
#Import Pandas
import pandas as pd

In [17]:
#Upload csv files
bengals = pd.read_csv('/Users/4victoria98/bengals.csv')
boyd_receiving = pd.read_csv('/Users/4victoria98/boyd_receiving.csv')
chase_receiving = pd.read_csv('/Users/4victoria98/chase_receiving.csv')
higgins_receiving = pd.read_csv('/Users/4victoria98/higgins_receiving.csv')

In [18]:
#Rename Columns to make merging easier 
boyd_receiving.columns=['Week', 'Boyd_Yards', 'Boyd_TDs']
chase_receiving.columns=['Week', 'Chase_Yards', 'Chase_TDs']
higgins_receiving.columns=['Week', 'Higgins_Yards', 'Higgins_TDs']

In [19]:
#Merge dataframes into 1 df
joined_df = bengals.join(boyd_receiving.set_index('Week'), on='Week')
joined_df = joined_df.join(chase_receiving.set_index('Week'), on='Week')
joined_df = joined_df.join(higgins_receiving.set_index('Week'), on='Week')

In [27]:
from sqlalchemy import URL

ImportError: cannot import name 'URL' from 'sqlalchemy' (/Users/4victoria98/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/__init__.py)

In [29]:
#Write to Postgresql
# import packages
from sqlalchemy import create_engine 
import psycopg2 

engine = create_engine("postgresql://victoria_burford:bictoriavurford@ls-2619b6b15c9bdc80a23f6afb7eee54cf0247da21.ca3yee6xneaj.us-east-1.rds.amazonaws.com:5432/postgres")
joined_df.to_sql('victoria_burford', engine)

ValueError: Table 'victoria_burford' already exists.

In [24]:
#Write to Postgresql
# import packages
from sqlalchemy import create_engine 
from sqlalchemy import URL

url_object = URL.create(
    "postgresql+pg8000",
    username="victoria_burford",
    password="bictoriavurford",  
    host="ls-2619b6b15c9bdc80a23f6afb7eee54cf0247da21.ca3yee6xneaj.us-east-1.rds.amazonaws.com",
    database="postgres",
)

"postgresql://victoria_burford:bictoriavurford@ls-2619b6b15c9bdc80a23f6afb7eee54cf0247da21.ca3yee6xneaj.us-east-1.rds.amazonaws.com:5432/postgres"

engine = create_engine("postgresql://victoria_burford:bictoriavurford@ls-2619b6b15c9bdc80a23f6afb7eee54cf0247da21.ca3yee6xneaj.us-east-1.rds.amazonaws.com:5432/postgres")
joined_df.to_sql('victoria_burford', engine)

ImportError: cannot import name 'URL' from 'sqlalchemy' (/Users/4victoria98/opt/anaconda3/lib/python3.9/site-packages/sqlalchemy/__init__.py)