In [1]:
import boto3

In [10]:
#S3 Session
session=boto3.Session(
aws_access_key_id = 'AKIAZZ33YB65GZIN656A',
aws_secret_access_key='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')

In [11]:
s3client = session.client('s3') #S3 Client

In [14]:
#Download CSV files
s3client.download_file('mindex-data-analytics-code-challenge', 'bengals.csv', 'bengals.csv')
s3client.download_file('mindex-data-analytics-code-challenge', 'boyd_receiving.csv', 'boyd_receiving.csv')
s3client.download_file('mindex-data-analytics-code-challenge', 'chase_receiving.csv', 'chase_receiving.csv')
s3client.download_file('mindex-data-analytics-code-challenge', 'higgins_receiving.csv', 'higgins_receiving.csv')

In [15]:
#Import Pandas
import pandas as pd

In [17]:
#Upload csv files
bengals = pd.read_csv('/Users/4victoria98/bengals.csv')
boyd_receiving = pd.read_csv('/Users/4victoria98/boyd_receiving.csv')
chase_receiving = pd.read_csv('/Users/4victoria98/chase_receiving.csv')
higgins_receiving = pd.read_csv('/Users/4victoria98/higgins_receiving.csv')

In [18]:
#Rename Columns to make merging easier 
boyd_receiving.columns=['Week', 'Boyd_Yards', 'Boyd_TDs']
chase_receiving.columns=['Week', 'Chase_Yards', 'Chase_TDs']
higgins_receiving.columns=['Week', 'Higgins_Yards', 'Higgins_TDs']

In [19]:
#Merge dataframes into 1 df
joined_df = bengals.join(boyd_receiving.set_index('Week'), on='Week')
joined_df = joined_df.join(chase_receiving.set_index('Week'), on='Week')
joined_df = joined_df.join(higgins_receiving.set_index('Week'), on='Week')

In [31]:
#Write to Postgresql
# import packages
from sqlalchemy import create_engine 
import psycopg2 

engine = create_engine("postgresql://victoria_burford:bictoriavurford@ls-2619b6b15c9bdc80a23f6afb7eee54cf0247da21.ca3yee6xneaj.us-east-1.rds.amazonaws.com:5432/postgres")
joined_df.to_sql('victoria_burford', engine, if_exists='replace')

25

In [ ]:
#SQL CODE
SELECT SUM(Boyd_Yards) AS 'Boyd Yards', SUM(Higgins_Yards) AS 'Higgins Yards', SUM(Chase_Yards) AS 'Chase Yards', CONCAT(CONVERT(char, SUM(Result)), '-', CONVERT(char, 24-SUM(Result))) AS 'Win/Loss' 
FROM victoria_burford

In [4]:
#VERIFY TABLE WAS INPUTTED CORRECTLY USING PSYCOPG2

#DEFINE VARIABLES
win=0
lose=0

boyd_yards=0
chase_yards=0
higgins_yards=0

#START CONNECTION TO POSTGRESQL
try:
    connection = psycopg2.connect(user="victoria_burford",
                                  password="bictoriavurford",
                                  host="ls-2619b6b15c9bdc80a23f6afb7eee54cf0247da21.ca3yee6xneaj.us-east-1.rds.amazonaws.com",
                                  port="5432",
                                  database="postgres")
    cursor = connection.cursor()
    postgreSQL_select_Query = "select * from victoria_burford"

    cursor.execute(postgreSQL_select_Query)
    bengals_table = cursor.fetchall()
    
    
    #GET DATA FOR TABLE REQUESTED IN STEP 8
    for row in bengals_table:
        if(type(row[4])==float):
            win=win+int(row[4])
        if(type(row[5])==float):
            boyd_yards=boyd_yards+int(row[5])
        if(type(row[7])==float):
            chase_yards=chase_yards+int(row[7])
        if(type(row[9])==float):
            higgins_yards=higgins_yards+int(row[9])
            
except (Exception, psycopg2.Error) as error:
    print("Error while fetching data from PostgreSQL", error)

finally:
    #CLOSE DATABASE CONNECTION
    if connection:
        cursor.close()
        connection.close()
        print("PostgreSQL connection is closed")

#SHOW TABLE victoria_burford
print("Table victoria_burford")
display(bengals_table)

#SHOW DATA REQUESTED IN STEP 8
print("Row requested in step 8")
table=pd.DataFrame({"Boyd Yards":[boyd_yards],
                "Higgins Yards":[higgins_yards], "Chase Yards":[chase_yards], "Win/Loss":[str(win)+ "-" + str(24-win)]})
display(table)

PostgreSQL connection is closed
Table victoria_burford

[(0, 'PRE1', 'TB', 'Away', 1.0, None, None, None, None, None, None),
 (1, 'PRE2', 'WSH', 'Away', 0.0, None, None, None, None, None, None),
 (2, 'PRE3', 'MIA', 'Home', 0.0, None, None, None, None, None, None),
 (3, 'REG1', 'MIN', 'Home', 1.0, 32.0, 0.0, 101.0, 1.0, 58.0, 1.0),
 (4, 'REG2', 'CHI', 'Away', 0.0, 73.0, 0.0, 54.0, 1.0, 60.0, 1.0),
 (5, 'REG3', 'PIT', 'Away', 1.0, 36.0, 1.0, 65.0, 2.0, None, None),
 (6, 'REG4', 'JAX', 'Home', 1.0, 118.0, 0.0, 77.0, 0.0, None, None),
 (7, 'REG5', 'GB', 'Home', 0.0, 24.0, 0.0, 159.0, 1.0, 32.0, 0.0),
 (8, 'REG6', 'DET', 'Away', 1.0, 7.0, 0.0, 97.0, 0.0, 44.0, 0.0),
 (9, 'REG7', 'BAL', 'Away', 1.0, 39.0, 0.0, 201.0, 1.0, 62.0, 0.0),
 (10, 'REG8', 'NYJ', 'Away', 0.0, 69.0, 1.0, 32.0, 1.0, 97.0, 0.0),
 (11, 'REG9', 'CLE', 'Home', 0.0, 11.0, 0.0, 49.0, 0.0, 78.0, 0.0),
 (12, 'REG10', None, None, None, None, None, None, None, None, None),
 (13, 'REG11', 'LV', 'Away', 1.0, 49.0, 0.0, 32.0, 1.0, 15.0, 0.0),
 (14, 'REG12', 'PIT', 'Home', 1.0, 13.0, 0.0, 39.0, 0.0, 114.0, 1.0),
 (15, 'REG13', 'LAC', 'Home', 0.0, 85.0, 0.0, 52.0, 0.0, 138.0, 1.0),
 (16, 'REG14', 'SF', 'Home', 0.0, 55.0, 0.0, 77.0, 2.0, 114.0, 0.0),
 (17, 'REG15', 'DEN', 'Away', 1.0, 96.0, 1.0, 3.0, 0.0, 23.0, 0.0),
 (18, 'REG16', 'BAL', 'Home', 1.0, 85.0, 1.0, 125.0, 0.0, 194.0, 2.0),
 (19, 'REG17', 'KC', 'Home', 1.0, 36.0, 1.0, 266.0, 3.0, 62.0, 0.0),
 (20, 'REG18', 'CLE', 'Away', 0.0, None, None, 26.0, 0.0, None, None),
 (21, 'POST1', 'LV', 'Home', 1.0, 26.0, 1.0, 116.0, 0.0, 10.0, 0.0),
 (22, 'POST2', 'TEN', 'Away', 1.0, 17.0, 0.0, 109.0, 0.0, 96.0, 0.0),
 (23, 'POST3', 'KC', 'Away', 1.0, 19.0, 0.0, 54.0, 1.0, 103.0, 0.0),
 (24, 'POST4', 'LAR', 'Neutral', 0.0, 48.0, 0.0, 89.0, 0.0, 100.0, 2.0)]

Row requested in step 8

   Boyd Yards  Higgins Yards  Chase Yards Win/Loss
0         938           1400         1823    14-10